node_modules
.next
out
build
dist
*.tsbuildinfo

.env
.env.local
.env.*.local

*.log
.DS_Store
.vscode
.idea

coverage
.nyc_output

prisma/dev.db
prisma/dev.db-journal

storage/labels/*
!storage/labels/.gitkeep
storage/exports/*
!storage/exports/.gitkeep
